<div class="container">
  <h1 class="my-4">Mesin Absensi</h1>

  <button type="button" class="btn btn-primary mb-4" id="btn-add">
    Tambah Mesin Absensi
  </button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>Status</th>
        <th>Nama</th>
        <th>Alamat IP</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% machines.forEach(({id, name, ip_address, status}, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <span class="badge text-bg-<%= status ? 'success' : 'danger' %>">
            <%= status ? 'ONLINE' : 'OFFLINE' %>
          </span>
        </td>
        <td><%= name %></td>
        <td><%= ip_address %></td>
        <td class="text-center">
          <a class="btn btn-info btn-sm btn-edit" href="/machines/<%= id %>">
            Edit
          </a>
          <a
            class="btn btn-danger btn-sm btn-delete"
            href="/machines/<%= id %>"
          >
            Hapus
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <%- include('_form') %>
</div>

<script src="/js/app.js"></script>
